<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.makeachoice.gymratpta">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".controller.manager.Boss"
        android:allowBackup="true"
        android:icon="@drawable/gym_rat_white_right_48dp"
        android:label="@string/app_title"
        android:supportsRtl="true"
        android:theme="@style/ChoiceTheme.Activity">

        <activity android:name=".view.activity.ScheduleActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.ScheduleDetailActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".view.activity.ScheduleActivity"/>

        <activity android:name=".view.activity.ClientActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".view.activity.ScheduleActivity"/>

        <activity android:name=".view.activity.ClientDetailActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".view.activity.ClientActivity"/>

        <activity android:name=".view.activity.SessionActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".view.activity.ScheduleActivity"/>

        <activity android:name=".view.activity.SessionDetailActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".view.activity.SessionActivity"/>

        <activity android:name=".view.activity.ExerciseActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".view.activity.ScheduleActivity"/>

        <activity android:name=".view.activity.RoutineDetailActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".view.activity.ExerciseActivity"/>

        <provider android:name=".controller.modelside.provider.GymRatProvider"
            android:authorities="me.makeachoice.gymratpta.app"/>


        <receiver android:name=".view.widget.AppointmentWidgetProvider"
            android:label="GymRat">
            <intent-filter>
                <action android:name="me.makeachoice.gymratpta.app.ACTION_WIDGET_UPDATED"/>
                <action android:name="me.makeachoice.gymratpta.app.ACTION_WIDGET_REFRESH"/>
                <action android:name="me.makeachoice.gymratpta.app.ACTION_APP_UPDATED"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appointment_widget_info" />
        </receiver>

        <service
            android:name=".view.widget.AppointmentWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


    </application>

</manifest>